$blue: #2563eb;
$blue-light: #3b82f6;
$green: #16a34a;
$gray: #f3f4f6;
$white: #ffffff;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: $white;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
